.red{
    color: red;
}
.blue{
    color: blue;
}
.Vie{
    background-color: red;
    width: 200px;
    height: 100px;
    color: white !important;
}
table{
    width: 100%;
    height: 80vh;
}
h1{
    text-align: center;
    color: blue;
}
td{
 
    text-align: center;
    
}
*{
    font-size:30px;
}
sub{
    font-size: small;
}
tbody, td{
    border: 1px black solid;
    border-collapse: collapse;
}
